* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: flex-end;

}

.navbar a,
.navbar button {

  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;

}

.navbar a {
  cursor: pointer;
}

.navbar button {

  background-color: transparent;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}


.navbar a:hover,
.navbar button:hover {
  font-weight: 600;
}

.navbar a:focus,
.navbar button:focus {
  outline: none;
}

.main-content {
  display: flex;
  padding: 20px;
  height: 100vh;
  color: white;
  background: url('https://cloud.appwrite.io/v1/storage/buckets/6723636300050d7a50f2/files/676d5c5e000882cc28d4/view?project=66efac960005a73d7247&project=66efac960005a73d7247&mode=admin') no-repeat center center;
  background-size: 100% 100%;
  /* background-attachment: fixed; */
}

.app-banner {
  position: absolute;
  bottom: 5%;
  background: linear-gradient(#16788B, #062025);
  padding: 20px;
  border-radius: 20px;
  color: #B4BFB5;
  width: 35%;
  margin-left: 7%;
}

.app-description {
  /* width: 25rem; */
}

.play-icon {
  width: 36px;
  height: 36px;
}

.download-text {
  padding-left: 10px;
  font-weight: bold;
  color: #17e317;
}

.app-link {
  border: 1px solid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.text-content {
  padding: 30px;
  border-radius: 10px;
  justify-items: center;
  color: black;
}

.company-name {
  font-size: 4rem;
  color: #5a9532;
  font-family: cursive;
}

.subtitle {
  color: #ffa92c;
  font-size: 1rem;
  font-family: cursive;
}

.download-link {
  padding: 10px;
  background-color: #342178;
  margin-top: 10px;
  border-radius: 10px;
}

.download-app-container {
  width: 300px;
  height: 150px;
  background-color: #36bd32;
  border-radius: 10px;
  color: #f1f6d6;
  padding: 20px;
  font-family: cursive;
}

.text-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.shop-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.shop-button:hover {
  background-color: #218838;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.5s ease-in-out forwards;
}

.nv-main-content {
  width: 100%;
  height: 100vh;
  background: #2C2740;
  background: radial-gradient(circle, rgba(44, 39, 64, 1) 0%, rgba(14, 12, 22, 1) 100%);
}


.brand-name{
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}

hr {
  border: none;
  height: 2px;
  background-color: #FFF;
  margin: 5px 0 20px;
}

.landing-main {
  display: flex;
  flex-direction: row;
}

.free-delivery {
  font-size: 3rem;
}

.green-text-color {
  color: rgb(25, 188, 74);
}
.moto-text {
  font-size: 4rem;
  color: #FFF;
  display: inline-block;
  line-height: 1.25;
}

.drop-shadow {
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,.25)) drop-shadow(17px 25px 100px rgba(225,0,0,.25));
}

.left-side-images {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  align-items: center;
}

.right-side-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}