.about-fruit-vegetable {
    background: #BDDFE5;
    background: linear-gradient(48deg,rgba(189, 223, 229, 0.6) 0%, rgba(160, 242, 137, 0.56) 100%);
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}