*{
    margin: 0;
    padding: 0;
}
.MainContainer{
    width: 100vw;
    height: 70vh;
    background-image: url('https://cloud.appwrite.io/v1/storage/buckets/6723636300050d7a50f2/files/67236614002c5fa39806/view?project=66efac960005a73d7247&project=66efac960005a73d7247&mode=admin');
    background-size: cover;
    background-position: center;

    color: white;

}
.navbar-brand {
    font-size: 4rem;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    height: 13rem;
    display: grid;
    place-items: center;
  }
  .search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  .search-field {
    width: 400px;
    height: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
  }
  
  .search-field:focus {
    outline: none;
  }