.shadow-btn-wrapper {
    color: #FFF;
    border: 3px solid transparent;
    padding: 5px 15px;
    border-radius: 12px;
    filter: drop-shadow(18px 17px 84px #8F00FF);
    background: linear-gradient(#0E101C, #0E101C) padding-box,
                linear-gradient(48deg,rgba(255, 44, 44, 1) 0%, rgba(251, 152, 4, 1) 16%, rgba(223, 225, 218, 1) 44%, rgba(255, 255, 255, 1) 52%, rgba(255, 10, 82, 0.82) 82%, rgba(120, 14, 255, 1) 100%) border-box;
}

.feather-icon {
    color: #FFF;
}