/* .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    background: url('https://cloud.appwrite.io/v1/storage/buckets/6723636300050d7a50f2/files/67629b61001b98b90d12/view?project=66efac960005a73d7247&project=66efac960005a73d7247&mode=admin') no-repeat center center/cover;
}

.text-content {
    flex: 1 1;
    max-width: 50%;
    padding-right: 20px;
    text-align: left;
    justify-items: center;

}

.image-content {
    flex: 1;
    max-width: 50%;
    text-align: right;
}

.grocery-image {
    max-width: 90%;
    height: auto;
    object-fit: contain;
    background: none;
    margin-left: auto;
}

.text-content h1 {
    font-size: 36px;
    color: #333;
}

.text-content p {
    font-size: 18px;
    color: #555;
    padding-bottom: 2rem;
}

.shop-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: cornflowerblue;
    border: none;
    cursor: pointer;
}

<<<<<<< HEAD
.shop-button:hover{
 background-color: rgb(36, 83, 172); 
cursor: pointer;
}

 */
=======
.shop-button:hover {
    background-color: rgb(36, 83, 172);
    cursor: pointer;
}
>>>>>>> 2680930f8253cef547e9eb0a64a31c1194f75c58
